<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.modaptix.org/xtext/expressions/ArithmeticExpression" 
       class = "org.modaptix.xtext.expressions.arithmeticExpression.ArithmeticExpressionPackage"
       genModel = "model/generated/ArithmeticExpression.genmodel" /> 
	
  </extension>



</plugin>
